@import "colors.css";

main {
  margin: 0 auto;
  padding: 0;
  display: flex;
}
body {
  background-color: var(--color-background);
}
.pane {
  border-radius: 20px;
  margin: 20px;
  background-color: var(--color-panel);
}
#left-panel, #right-panel {
  width: 200px;
  padding: 20px;
}
#left-panel {

}
#right-panel {

}
#center-panel {
  width: 50%;
}
.vertical-flex
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*panel-button*/
.panel-button {
  border-radius: 10px;
  background-color: var(--color-button-background);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
text-align: center;
}
.panel-button:hover {
  background-color: var(--color-button-hover);
}
.panel-button.selected {
  background-color: #c0c0c0;
}
.panel-button img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.panel-button p {
  margin: 0;
}
