main {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
#center-panel {
  width: 50%;
  height: 800px;
  overflow: clip;
}
#center-panel iframe
{
  border: none;
}
