h2 {
  text-align: center;
}

body
{
  background-color: var(--color-background);
}

section
{
  padding: 20px;
  border-radius: 10px;
}

header
{
  margin: 50px auto;
  height: 300px;
  border-radius: 10px;
  background-color: var(--color-panel);
  justify-content: center;
}

main
{
  width: fit-content;
}

main section {
  background-color: var(--color-panel);
  margin-bottom: 20px;
}

.controlled-size
{
  width: min(100%, 800px);
}

#enlaces
{
  position: relative;
  height: fit-content;
  margin: 0 auto;
}

header img
{
  width: 100px;
  height: 100px;
}

#contenedor-multimedia
{
  background-color: var(--color-panel);
  border-radius: 10px;
}

.corrillo-de-imagenes
{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow: scroll;
}

.corrillo-de-imagenes img
{
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.button img
{
  width: 50px;
  height: 50px;
}
