h2, h1{
  text-align: center;
}

body
{
  background-color: var(--color-background);
}
/* left-pane */
#fichaTecnica
{
  height: fit-content;
}

#fichaTecnica section
{
  margin-bottom: 15px;
}

#iconoProyecto-container
{
  height: 100px;
  width: 200px;
  overflow: visible;
  position: relative;
}

#iconoProyecto
{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 10%;
  top: -100px;
}

#caracteristicas
{
  width: 300px;
}

#caracteristicas ul
{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

#caracteristicas ul li
{
  margin: 0 auto;
}

/* principal */
main
{
  padding-top: 100px;
  gap: 10px;
}

#info-proyecto
{
  width: 300px;
}

.info-contenedor {
  display: flex;
  margin: 10px;
}

.info-contenedor p {
  margin: 0 0 0 10px;
}

#estado-pane div ul li
{
  margin-top: 10px;
}

#enlaces
{
  height: fit-content;
}

#contenedor-multimedia
{
  border-radius: 10px;
}

.corrillo-de-imagenes
{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.corrillo-de-imagenes img
{
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.controlled-size
{
  width: min(85%, 1200px);
}

/* Navigation pane */
#nav-bar {
  position: relative;
  top: 0;
  border-radius: 20px;
  margin: 20px 0;
  background-color: var(--color-panel);
}

.pane-button {
  border-radius: 10px;
  background-color: var(--color-button-background);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20px;
  height: 20px;
}

.pane-button img {
  filter: brightness(0.2);
  width: 20px;
  height: 20px;
}
.pane-button:hover {
  background-color: var(--color-button-hover);
}
.pane-button:hover img{
  filter: brightness(0) invert(1);
}
